aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
async-timeout
attrs
backoff
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
contourpy
cryptography
ctransformers
cycler
dataclasses-json
dataclasses-json-speakeasy
Deprecated
diskcache
effdet
emoji
et-xmlfile
exceptiongroup
fastapi
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
greenlet
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
huggingface-hub
humanfriendly
hyperframe
idna
iopath
Jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
kiwisolver
langchain
langchain-community
langchain-core
langdetect
langsmith
layoutparser
llama_cpp_python
lxml
Markdown
MarkupSafe
marshmallow
matplotlib
mpmath
msg-parser
multidict
mypy-extensions
networkx
nltk
numpy
olefile
omegaconf
onnx
onnxruntime
opencv-python
openpyxl
packaging
pandas
pdf2image
pdfminer.six
pdfplumber
pikepdf
pillow
pillow_heif
portalocker
protobuf
py-cpuinfo
pycocotools
pycparser
pydantic
pydantic_core
pypandoc
pyparsing
pypdf
pypdfium2
pyreadline3
pytesseract
python-dateutil
python-docx
python-iso639
python-magic
python-multipart
python-pptx
pytz
pywin32
PyYAML
qdrant-client
rapidfuzz
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tabulate
tenacity
threadpoolctl
timm
tokenizers
torch
torchvision
tqdm
transformers
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
urllib3
uvicorn
wrapt
xlrd
XlsxWriter
yarl